@-webkit-keyframes hoverScaleAdd {
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes hoverScaleAdd {
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes hoverMoveUp {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes hoverMoveUp {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #bc9691;
  }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  30% {
    background-color: #bc9691;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #bc9691;
  }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  60% {
    background-color: #bc9691;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #bc9691;
  }
  90%, 100% {
    background-color: #ffffff;
  }
}

@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #bc9691;
  }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  30% {
    background-color: #bc9691;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #bc9691;
  }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  60% {
    background-color: #bc9691;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #bc9691;
  }
  90%, 100% {
    background-color: #ffffff;
  }
}

@-webkit-keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    translateY(5px) {
    }
  }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(40px) {
    }
  }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(-20px) {
    }
  }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    translateY(5px) {
    }
  }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(40px) {
    }
  }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(-20px) {
    }
  }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    translateY(5px) {
    }
  }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(40px) {
    }
  }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(-20px) {
    }
  }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    translateY(5px) {
    }
  }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(40px) {
    }
  }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(-20px) {
    }
  }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    translateY(5px) {
    }
  }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(40px) {
    }
  }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(-20px) {
    }
  }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    translateY(5px) {
    }
  }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(40px) {
    }
  }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(-20px) {
    }
  }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
}

@-webkit-keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
}

@keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
}

.footer_warning, .warning_space {
  width: 100%;
  height: 52px;
  overflow: hidden;
}

.know_mouseIcon::before, .know_mouseIcon::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.know_mouseIcon {
  background: #BC9691 -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #FFF));
  background: #BC9691 linear-gradient(transparent 50%, #FFF 50%);
  position: relative;
  width: 52px;
  height: 88px;
  border-radius: 100px;
  background-size: 100% 200%;
  -webkit-animation: colorSlide 5s infinite linear, nudgeMouse 5s infinite ease-out;
          animation: colorSlide 5s infinite linear, nudgeMouse 5s infinite ease-out;
}

.know_mousep {
  font-family: "Cabin", sans-serif;
  letter-spacing: 12px;
  text-indent: 12px;
  color: #ffffff;
  -webkit-animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
          animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
}

body {
  background: url(../../img/bgs/bg001.gif) repeat;
  position: relative;
}

ul, ol, dl {
  color: #0A0301;
  list-style: none;
}

* {
  font-family: 'Noto Sans TC', 'Roboto', sans-serif;
}

.trans4s {
  -webkit-transition: .4s;
  transition: .4s;
}

a, a:link, a:visited {
  color: #0A0301;
  text-decoration: none;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
}

.center_all {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notfound_title {
  font-size: 20rem;
}

.navbar {
  background: transparent !important;
  z-index: 1070;
}

.navbar .nav-item {
  cursor: pointer;
}

.navbar .nav-link {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav_logo {
  height: 52px;
}

.nav_logo h1 {
  font-size: 1.75rem !important;
}

.nav_logo img {
  height: 50px;
  width: 50px;
  -webkit-filter: brightness(100);
          filter: brightness(100);
}

.nav_logo .navbar-brand * {
  line-height: 1.75rem;
  margin: 0 .5rem 0;
}

.footer_warning {
  color: white;
  background: #222;
  opacity: .8;
  z-index: 1070;
}

.footer {
  background-color: #fff;
  z-index: 1030;
  bottom: 0;
}

.footer a {
  color: black;
}

.footer .footer-container {
  height: 16rem;
}

.footer .row {
  padding-top: 2rem;
}

.footer_sec {
  font-size: 1rem;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem 0;
}

.footer_sec dd {
  margin-left: 1rem;
}

.footer_sec dd a {
  color: #4d4d4d;
}

.footer_logo h2 {
  font-size: 1.2rem;
}

.footer_logo img {
  width: 40%;
}

.footer_logo address {
  font-size: 1.1rem;
}

main {
  min-height: 100vh;
  padding: 68px 0 0;
}

.main_bg {
  height: 250vh;
  position: fixed;
  background: url(../../img/bgs/section1_bg.jpg) center fixed no-repeat;
}

.main_frame {
  background: transparent;
  z-index: 1050;
}

.page_main {
  margin: 0;
  padding: 0;
  color: #fff;
}

.page_main section {
  min-height: 100vh;
}

.page_main .main_logoSec, .page_main .main_article_center {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.main_logoSec {
  min-height: 100vh;
  text-shadow: white 0px 0px 20px;
  padding-bottom: 200px;
}

.main_logoSec h1 {
  margin: 0;
  padding: 0;
  font-size: 3.5rem;
}

.main_logoSec figure {
  margin: 0;
  padding: 0;
}

.main_logoSec .main_logo {
  max-width: 150px;
  max-height: 150px;
}

.main_article_about {
  font-size: 1.2rem;
  letter-spacing: 0.15em;
  line-height: 5.5;
}

.main_sec3 {
  background: #F1F1EE;
  color: #0A0301;
}

.itemList_frame {
  position: relative;
  background: #F1F1EE;
}

.hidden_obj {
  display: none;
}

.itemList_header {
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #F1F1EE), color-stop(80%, rgba(95, 95, 93, 0)));
  background: linear-gradient(to bottom, #F1F1EE 60%, rgba(95, 95, 93, 0) 80%);
  height: 10rem;
}

.itemList_header .list_info {
  margin: 0;
  padding: 0;
}

.page_itemList {
  margin: 0;
  padding: 0;
  margin-top: 48px;
}

.itemList_navbar {
  top: 10rem;
  height: 100%;
  padding-top: 2rem;
  z-index: 1040;
}

.itemList_navbar .tree_btn, .itemList_navbar .filter_btn {
  margin: 0;
  padding: 0;
}

.itemList_list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.itemList_list .item_card {
  width: 12rem;
  height: 20rem;
  margin: 1rem;
  overflow: hidden;
}

.itemList_list .item_card .card-img-top {
  height: 12rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0 8px -2px #000 inset;
          box-shadow: 0 0 8px -2px #000 inset;
}

.itemList_list .item_card .card-img-top .item_card_img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.itemList_list .item_card .card-img-top .item_card_img:hover {
  -webkit-animation: hoverScaleAdd 0.4s 0.2s both ease-in-out;
          animation: hoverScaleAdd 0.4s 0.2s both ease-in-out;
}

.itemList_list .item_card .card-body {
  color: #000;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
}

.itemList_list .item_card .card-body:hover {
  -webkit-animation: hoverMoveUp 0.4s 0.2s both ease-in-out;
          animation: hoverMoveUp 0.4s 0.2s both ease-in-out;
}

.know_bg {
  position: relative;
  background: url(../../img/bgs/fuji002.png) no-repeat center center;
  background-size: cover;
}

.know_frame > section {
  min-height: 100vh;
  padding: 4rem 0;
}

.know_frame .know_btn {
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  font-family: 'Noto Sans TC', sans-serif;
  cursor: pointer;
}

.know_frame .know_post_btn, .know_frame .sub_form_btn {
  border-radius: 0;
  padding: .5rem 1rem;
  background: #BC9691;
}

.know_header {
  color: #fff;
  min-height: 150vh;
}

.know_header .know_title {
  min-height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.know_header .know_title::before, .know_header .know_title::after {
  content: '';
}

.know_mouseIcon::before {
  width: 46px;
  height: 82px;
  background: #BC9691;
  border-radius: 100px;
}

.know_mouseIcon::after {
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation: trackBallSlide 5s infinite linear;
          animation: trackBallSlide 5s infinite linear;
}

.know_mousep {
  margin: 0;
  padding: 0;
  padding: 2rem 0;
}

hr {
  border: .5px solid #ccc;
  width: 100%;
  margin: 2rem 0;
}

.know_carousel_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.know_carousel_content * {
  margin: 0;
  padding: 0;
}

.know_carousel_content .know_carousel_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
}

.know_carousel_content .carousel_title_btn {
  padding: .2rem 0;
  width: 6rem;
  text-align: center;
  background: #BC9691;
}

.owl-nav [class*='owl-']:hover, .owl-nav [class*='owl-']:focus, .owl-nav .owl_nav_btn {
  background: transparent !important;
  color: #112 !important;
  -webkit-transition: .2s;
  transition: .2s;
  outline: none;
}

.owl-nav .owl_nav_btn {
  color: #626262 !important;
  font-size: 2rem !important;
}

.know_post {
  position: relative;
  padding: 0 2rem 2rem;
}

.know_post .know_post_img {
  margin-bottom: 2rem;
}

.know_post .news_info {
  padding: .5rem 1rem;
  background: #fff;
  text-align: center;
}

.know_post .know_post_content {
  margin: 1rem 0;
}

.know_post_img {
  width: 100%;
  overflow: hidden;
}

.know_post_img figure {
  margin: 0;
}

.know_post_img img {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.know_post_img img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.know_aside_title {
  margin-bottom: 1.5rem;
}

.know_news_aside .news_sub {
  padding: 8rem 0;
}

.know_news_aside .know_aside_title {
  text-align: center;
}

.know_news_aside .know_aside_title::before, .know_news_aside .know_aside_title::after {
  content: ' - ';
}

.know_news_aside .know_post_img {
  margin-bottom: 0;
}

.sub_form_input {
  border-radius: 0;
  padding: .5rem 1rem;
  width: 70%;
  margin: 0 .5rem;
  border: none;
  -webkit-box-shadow: 0 0 1px 1px #999 inset;
          box-shadow: 0 0 1px 1px #999 inset;
}

.know_tags .know_tags_group {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.know_tags .know_tag {
  border-radius: 0;
  padding: .5rem 1rem;
  background: #BC9691;
  border-radius: 5rem;
  margin: .5rem;
}
/*# sourceMappingURL=all.css.map */