@-webkit-keyframes hoverScaleAdd {
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes hoverScaleAdd {
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes hoverMoveUp {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes hoverMoveUp {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #bc9691;
  }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  30% {
    background-color: #bc9691;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #bc9691;
  }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  60% {
    background-color: #bc9691;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #bc9691;
  }
  90%, 100% {
    background-color: #ffffff;
  }
}

@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #bc9691;
  }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  30% {
    background-color: #bc9691;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #bc9691;
  }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  60% {
    background-color: #bc9691;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #bc9691;
  }
  90%, 100% {
    background-color: #ffffff;
  }
}

@-webkit-keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    translateY(5px) {
    }
  }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(40px) {
    }
  }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(-20px) {
    }
  }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    translateY(5px) {
    }
  }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(40px) {
    }
  }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(-20px) {
    }
  }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    translateY(5px) {
    }
  }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(40px) {
    }
  }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(-20px) {
    }
  }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    translateY(5px) {
    }
  }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(40px) {
    }
  }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(-20px) {
    }
  }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    translateY(5px) {
    }
  }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(40px) {
    }
  }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(-20px) {
    }
  }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    translateY(5px) {
    }
  }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(40px) {
    }
  }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    translateY(-20px) {
    }
  }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    translateY(-20px) {
    }
  }
}

@-webkit-keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
}

@keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
}

@-webkit-keyframes mainTitle {
  0% {
    text-shadow: 0px 0px 2px #fff;
  }
  100% {
    text-shadow: 0px 0px 50px #fff;
  }
}

@keyframes mainTitle {
  0% {
    text-shadow: 0px 0px 2px #fff;
  }
  100% {
    text-shadow: 0px 0px 50px #fff;
  }
}

.footer_warning, .warning_space {
  width: 100%;
  height: 52px;
  overflow: hidden;
}

.know_mouseIcon::before, .know_mouseIcon::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.know_mouseIcon {
  background: #BC9691 -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #FFF));
  background: #BC9691 linear-gradient(transparent 50%, #FFF 50%);
  position: relative;
  width: 52px;
  height: 88px;
  border-radius: 100px;
  background-size: 100% 200%;
  -webkit-animation: colorSlide 5s infinite linear, nudgeMouse 5s infinite ease-out;
          animation: colorSlide 5s infinite linear, nudgeMouse 5s infinite ease-out;
}

.know_mousep {
  font-family: "Cabin", sans-serif;
  letter-spacing: 12px;
  text-indent: 12px;
  color: #ffffff;
  -webkit-animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
          animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
}

body {
  background: url(../../img/bgs/bg001.gif) repeat;
  position: relative;
}

body * {
  outline: none;
}

ul, ol, dl {
  color: #0A0301;
  list-style: none;
}

* {
  font-family: 'Noto Sans TC', 'Roboto', sans-serif;
}

.trans4s {
  -webkit-transition: .4s;
  transition: .4s;
}

a, a:link, a:visited {
  color: #0A0301;
  text-decoration: none;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
}

.center_all {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notfound_title {
  font-size: 20rem;
}

.back-to-top {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  display: none;
}

.navbar {
  background: inherit;
  z-index: 1070;
}

.navbar .nav-item {
  cursor: pointer;
}

.navbar .nav-link {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav_logo {
  height: 52px;
}

.nav_logo h1 {
  font-size: 1.75rem !important;
}

.nav_logo img {
  height: 50px;
  width: 50px;
  -webkit-filter: brightness(100);
          filter: brightness(100);
}

.nav_logo .navbar-brand * {
  line-height: 1.75rem;
  margin: 0 .5rem 0;
}

.nav_black {
  height: 100vh;
  background: #000 !important;
}

.footer_warning {
  color: white;
  background: #222;
  opacity: .8;
  z-index: 1070;
}

@media screen and (max-width: 415px) {
  .footer_warning h3 {
    font-size: 1rem;
  }
}

.footer {
  background-color: #fff;
  z-index: 1030;
}

.footer a {
  color: black;
}

.footer_sec {
  font-size: 1rem;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem 0;
}

.footer_sec dt {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.footer_sec dd {
  margin-left: 1rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.footer_sec dd a {
  color: #4d4d4d;
}

.footer_logo h2 {
  font-size: 2rem;
}

.footer_logo img {
  width: 40%;
}

.footer_logo address {
  font-size: 1.1rem;
}

@media screen and (max-width: 415px) {
  .footer_sec {
    padding: 0;
  }
  .footer_sec dl {
    margin-top: 1rem;
  }
  .footer_sec dt, .footer_sec dd {
    text-align: center;
  }
  .footer_sec dd {
    margin-left: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.page_ac {
  height: 100vh;
  background: url("../../img/bgs/section1_bg.jpg") center fixed no-repeat;
  z-index: 1060;
}

.ac_header h2 {
  color: #c69963;
}

.ac_checkBtn {
  color: #fff;
}

.ac_checkBtn > * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ac_btn {
  width: 100px;
  position: relative;
  padding: 5px 0;
  border: 2px solid #c69963;
  cursor: pointer;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  overflow: hidden;
}

.ac_btn::before {
  content: '';
  background: #c69963;
  width: 50%;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.ac_btn:hover::before {
  height: 100%;
  width: 100%;
  -webkit-transition-delay: 1ms;
          transition-delay: 1ms;
}

.login_frame, .register_frame {
  position: relative;
}

.login_frame > .row, .register_frame > .row {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}

.login_frame .form-group, .register_frame .form-group {
  margin: 10px 0;
}

.login_frame .form-group label, .register_frame .form-group label {
  display: block;
}

.login_frame .form-group input, .register_frame .form-group input {
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

.login_frame .login_btn, .login_frame .signup_btn, .login_frame .register_btn, .register_frame .login_btn, .register_frame .signup_btn, .register_frame .register_btn {
  cursor: pointer;
  padding: 10px 0;
  color: white;
  background: #BCAB91;
  border: none;
  border-radius: 5px;
  -webkit-transition: .4s;
  transition: .4s;
}

.login_frame .login_btn:hover, .login_frame .signup_btn:hover, .login_frame .register_btn:hover, .register_frame .login_btn:hover, .register_frame .signup_btn:hover, .register_frame .register_btn:hover {
  background: #705f44;
}

.login_frame .signup_btn, .register_frame .signup_btn {
  background: #BC9691;
}

.login_frame .signup_btn:hover, .register_frame .signup_btn:hover {
  background: #704944;
}

.login_frame .register_gender, .register_frame .register_gender {
  font-size: 1rem;
  height: 30px !important;
  padding: 0 10px !important;
}

.login_frame .register_gender.btn_selected, .register_frame .register_gender.btn_selected {
  color: #fff !important;
  background: #BC9691;
}

main {
  min-height: 100vh;
  padding: 116px 0 0;
}

.main_bg {
  height: 250vh;
  position: fixed;
  background: #000;
}

.main_frame {
  z-index: 1050;
}

.page_main {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif TC', serif;
  color: #fff;
}

.page_main .row > section {
  overflow: hidden;
  background: #F1F1EE;
}

.page_main .main_logoSec, .page_main .main_article_center {
  background: transparent !important;
  font-family: 'Noto Serif TC', serif;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.page_main .main_logoSec h1, .page_main .main_article_center h1 {
  font-family: 'Noto Serif TC', serif !important;
  z-index: 1050;
}

.main_subtitle {
  font-size: 3rem;
  font-weight: 500;
}

.main_sakura {
  margin: 0;
  padding: 0;
  min-height: 200vh !important;
  position: relative;
  margin-top: -116px;
  background: url(../../img/bgs/section1_bg.jpg) center fixed no-repeat !important;
}

.main_sakura #sakura {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.main_sakura .main_article_center {
  top: 100vh;
  min-height: 100vh;
}

.index_title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
}

.index_title img {
  -webkit-filter: opacity(0.1);
          filter: opacity(0.1);
}

.index_title h2 {
  font-family: 'Noto Serif TC', serif;
  font-size: 3rem;
  height: 100%;
  position: absolute;
  top: 35%;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.main_logoSec {
  padding: 116px 0 200px;
  -webkit-animation: mainTitle 2s infinite alternate both ease-out;
          animation: mainTitle 2s infinite alternate both ease-out;
}

.main_logoSec, .main_logoSec .main_article_center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
}

.main_logoSec h1 {
  margin: 0;
  padding: 0;
  font-size: 3.5rem;
}

.main_logoSec figure {
  margin: 0;
  padding: 0;
}

.main_logo {
  max-width: 150px;
  max-height: 150px;
}

.main_article_about {
  font-size: 1.2rem;
  letter-spacing: 0.15em;
  line-height: 5.5;
}

.main_news {
  min-height: 65vh !important;
  color: #0A0301;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main_news_items {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main_news_items * {
  font-size: 1rem;
  font-family: 'Noto Serif TC', serif;
}

.main_news_items .news_card {
  max-width: 20rem;
}

@media screen and (max-width: 768px) {
  .main_news_items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main_knowledge {
  color: #000;
}

.main_knowledge .main_seigaiwa {
  left: 10%;
  bottom: 10%;
}

.main_know_title {
  right: 0%;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  z-index: 1070;
}

.main_know_imgs {
  right: 0;
  top: 4rem;
  height: 75vh;
}

.main_know_imgs .main_know_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_know_card {
  background: #fff;
  padding: 1.5rem;
  left: 0;
  bottom: 25%;
}

.main_know_card > * {
  margin: .5rem;
}

.main_know_card .main_know_cardContent {
  margin: 1.5rem;
  font-size: 0.8rem;
}

.main_know_card .main_know_cardMore > * {
  margin: .5rem;
}

.main_recommand {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #000;
}

.main_recommand figure {
  z-index: 1030;
}

.main_recommand .main_rec_card {
  min-width: 10rem;
  max-width: 15rem;
  color: #fff;
}

.main_recommand .main_rec_card img {
  min-width: 15rem;
  max-width: 15rem;
  height: 15rem;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.main_recommand .main_rec_card figure {
  margin: 0;
  padding: 0;
  max-width: 20rem;
  max-height: 20rem;
}

.cloud_bg_big {
  background: url("../../img/bgs/seigaiwa.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.cloud_bg_sm {
  background: url("../../img/bgs/seigaiwa-sm.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.cloud_1, .cloud_2, .cloud_3, .cloud_4, .cloud_5 {
  top: 20%;
  left: -40%;
  width: 100%;
  height: 10%;
}

.cloud_2 {
  top: 30%;
  left: -30%;
  height: 25%;
}

.cloud_3 {
  top: 0%;
  left: 70%;
  height: 20%;
}

.cloud_4 {
  left: 80%;
}

.cloud_5 {
  top: 50%;
  left: 70%;
  height: 20%;
}

.remove_alert {
  position: fixed;
  top: 0;
  left: 0;
  background: #00000070;
  width: 100vw;
  height: 100vh;
}

.remove_alert .remove_box {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 20%;
  min-height: 10rem;
  min-width: 20rem;
  background: #F1F1EE;
  border-radius: 10px;
  padding: 2rem;
  -webkit-box-shadow: 0 2px 4px -2px #fff;
          box-shadow: 0 2px 4px -2px #fff;
}

.remove_alert .remove_box .remove_btn_group {
  padding: 1rem;
}

.remove_alert .remove_box .remove_btn_group .remove_btn {
  background: #A06BCC;
  border-color: #A06BCC;
  color: #fff;
  padding: .5rem 2rem;
  -webkit-box-shadow: 0 0 0 0 #A06BCC;
          box-shadow: 0 0 0 0 #A06BCC;
  -webkit-transition: .2s;
  transition: .2s;
}

.remove_alert .remove_box .remove_btn_group .remove_btn:hover {
  -webkit-box-shadow: 0 0 8px -4px #000, 0 0 0 #000 inset;
          box-shadow: 0 0 8px -4px #000, 0 0 0 #000 inset;
}

.remove_alert .remove_box .remove_btn_group .remove_btn:hover:active {
  -webkit-box-shadow: 0 0 0 #000, 0 0 8px -4px #000 inset;
          box-shadow: 0 0 0 #000, 0 0 8px -4px #000 inset;
}

.main_map {
  color: #000;
}

.main_map path {
  stroke: white;
  fill: transparent;
  -webkit-transition: .8s;
  transition: .8s;
  cursor: pointer;
  fill: #B99362;
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
}

.main_map .title_area {
  color: #B99362;
  font-size: 30px;
}

.main_map .forcast h2, .main_map .forcast h4, .main_map .forcast {
  margin: 0;
}

.main_map .forcast h2 {
  margin-top: 20px;
}

.main_map a {
  font-size: 16px;
  text-decoration: none;
  color: #B99362;
}

@media screen and (min-width: 376px) {
  .main_map .map_area {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    height: 75vh;
    padding: 2rem 0;
  }
  .main_map .title_area {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

.about_frame {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.about_frame * {
  font-family: 'Noto Serif TC', serif;
  color: #fff;
}

.about_frame .about_video {
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
}

.about_frame .about_video_cover {
  background: rgba(0, 0, 0, 0.438);
  width: 100%;
  height: 100vh;
  position: fixed;
}

.about_frame .about_header_sec header {
  height: 100vh;
}

.about_frame .about_header_sec .main_icon {
  max-width: 150px;
  max-height: 150px;
}

.about_frame .about_article {
  background: url(../../img/about/water_A.png) no-repeat center;
  background-size: contain;
  height: 260vh;
  width: 100%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 1.2rem;
  letter-spacing: 0.15em;
  line-height: 5.5;
}

.about_frame .about_water_1,
.about_frame .about_water_2,
.about_frame .about_water_3,
.about_frame .about_water_4,
.about_frame .about_water_5,
.about_frame .about_water_6 {
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.about_frame .about_water_1 {
  background-image: url(../../img/about/pex-1.png);
  height: 300vh;
}

.about_frame .about_water_2 {
  background-image: url(../../img/about/pex-2.png);
  height: 300vh;
  top: 150%;
}

.about_frame .about_water_3 {
  background-image: url(../../img/about/water_B.png);
  top: 150%;
}

.about_frame .about_water_4 {
  background-image: url(../../img/about/water_A.png);
  top: 300%;
}

.about_frame .about_water_5 {
  background-image: url(../../img/about/water_B.png);
  top: 300%;
}

.about_frame .about_water_6 {
  height: 10vh;
  top: 500%;
}

.itemList_frame {
  position: relative;
}

.hidden_obj {
  display: none;
}

.itemList_header {
  margin: 0;
  padding: 0;
  background: transparent;
  height: 10rem;
}

.itemList_header .list_info {
  margin: 0;
  padding: 0;
}

.page_itemList {
  background: transparent;
}

.page_itemList > div {
  margin-top: 48px;
}

.itemList_tree {
  padding-top: 1rem;
}

.itemList_tree .tree_btn, .itemList_tree .filter_btn {
  margin: 0;
  padding: 0;
}

.itemList_list, .itemList_list .item_card {
  -webkit-transition: .4s;
  transition: .4s;
}

.itemList_list .item_card {
  width: 12rem;
  height: 20rem;
  margin: 1rem;
  overflow: hidden;
}

.itemList_list .item_card .card_mainArea {
  width: 100%;
  height: 80%;
}

.itemList_list .item_card .item_card_brew {
  font-family: 'Noto Serif TC', serif;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: .5rem;
}

.itemList_list .item_card .item_card_brew * {
  margin: 0;
  padding: 0;
}

.itemList_list .item_card .item_card_brew h6 {
  line-height: inherit;
}

.itemList_list .item_card .item_card_brew img {
  padding: .5rem 0;
}

.itemList_list .item_card .item_card_mainImg {
  width: 100%;
}

.itemList_list .item_card .item_card_mainImg .item_card_img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.itemList_list .item_card .item_card_price {
  right: 0;
  bottom: 0;
}

.itemList_list .item_card .item_card_price * {
  margin: 0;
  padding: 0;
}

.itemList_list .item_card .item_card_price h6 {
  color: #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-60%, -50%);
          transform: translate(-60%, -50%);
}

.itemList_list .itemList_price::before {
  content: '$';
}

.page_itemList > section {
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.page_itemList > aside {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

.itemList_tree dd, .itemList_tree dt,
.itemList_tree .tree_title {
  width: 100%;
  margin: .25rem 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 1.2rem;
}

.itemList_tree .tree_title {
  background: #BCAB91;
  border-radius: .25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.itemList_tree .tree_selection .tree_btn {
  width: 100%;
  padding: .25rem .25rem;
  color: #000;
  background-color: #B2B2B2;
  -webkit-transition: .4s;
  transition: .4s;
}

.itemList_tree .tree_selection .tree_checked {
  color: #fff;
  background-color: #7f7f7f;
}

@media screen and (max-width: 415px) {
  .itemlist_tree {
    margin: 0;
    padding: 0;
  }
  .itemlist_tree .tree_wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .itemlist_tree dl {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .itemlist_tree dt {
    margin: .25rem .25rem;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .itemlist_tree dt.tree_title:not(.collapsed) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .itemlist_tree .tree_title {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    -webkit-transition: .4s;
    transition: .4s;
    font-size: 1rem;
    padding: .25rem 0 !important;
  }
  .itemList_list .item_card {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 0;
  }
  .page_itemList > section {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .page_itemList > aside {
    top: 68px;
    background: url(../../img/bgs/bg001.gif) repeat;
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.detail_frame {
  position: relative;
}

.detail_frame > section {
  overflow: hidden;
}

.detail_frame > section .row {
  margin-bottom: 3rem;
}

.detail_header {
  margin: 0;
  padding: 0;
  background: transparent;
  height: 10rem;
}

.detail_header .detail_breadcrumb {
  letter-spacing: .25rem;
}

.detail_header .detail_breadcrumb a::after {
  content: '>';
  padding: 0 .5rem;
}

.detail_header .detail_header_title {
  margin: 2.5rem 0;
}

.detail_header .detail_header_title * {
  margin: 0;
  padding: 0;
}

.detail_header .detail_header_title figure > img {
  width: 45px;
}

.detail_header .detail_header_title .detail_titleCloud {
  width: 30%;
  bottom: 30%;
}

.detail_carousel {
  height: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.detail_carousel * {
  margin: 0;
  padding: 0;
}

.detail_carousel > div {
  width: 100%;
}

.detail_carousel .detail_carousel_item {
  max-height: 480px;
}

.detail_carousel .detail_carousel_img {
  margin: 0;
  padding: 0;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.detail_item_title {
  margin-bottom: 5rem;
  position: relative;
}

.detail_item_title * {
  margin: 0;
  padding: 0;
}

.detail_item_title img {
  height: 100%;
  opacity: .1;
}

.detail_item_content {
  line-height: 2rem;
  letter-spacing: .25rem;
}

.detail_item_function * {
  margin: 0;
  padding: 0;
}

.detail_item_function > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.detail_item_function .detail_item_price {
  color: #c69963;
}

.detail_item_function .detail_item_price::before {
  content: '$';
}

.detail_item_function input[type=number]::-webkit-outer-spin-button,
.detail_item_function input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.detail_item_function input[type=number] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.detail_item_function .item_function_btn {
  width: 10rem;
  color: #A06BCC;
  border: 1px solid #A06BCC;
  padding: .5rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.detail_item_function .item_function_btn img {
  width: 30px;
  margin-right: 1rem;
}

.detail_info_list dt, .detail_info_list dd {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

.detail_info_list dd {
  color: #A06BCC;
}

.detail_item_feature dt, .detail_item_feature dd {
  margin: 0;
  padding: 0;
  color: #c69963;
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
}

.detail_item_feature dt::before {
  content: '';
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid #c69963;
  -webkit-transform: translate(-50%, -25%) rotate(45deg);
          transform: translate(-50%, -25%) rotate(45deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.recommand_carousel {
  height: 20%;
}

.recommand_carousel * {
  margin: 0;
  padding: 0;
}

.recommand_carousel .item_rec_fig {
  width: 100%;
  max-height: 240px;
}

.recommand_carousel .item_rec_img {
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 1rem 0;
}

.item_counts_btn, .detail_item_hold {
  width: 2rem;
  height: 2rem;
  border: 1px solid #e5e5e5;
  color: #777;
}

.item_counts_btn {
  background-color: #f7f7f7;
  font-size: 1.5rem;
  line-height: 1.5rem;
  border-right: 0 none;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.detail_item_hold {
  padding: 0 5px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #e5e5e5;
}

.know_bg {
  position: relative;
  background: url(../../img/bgs/fuji002.png) no-repeat center center;
  background-size: cover;
}

.know_frame > section {
  min-height: 100vh;
  padding: 4rem 0;
}

.know_frame .know_btn {
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  font-family: 'Noto Sans TC', sans-serif;
  cursor: pointer;
}

.know_frame .know_post_btn, .know_frame .sub_form_btn {
  border-radius: 0;
  padding: .5rem 1rem;
  background: #BC9691;
}

.know_header {
  color: #fff;
  min-height: 150vh;
}

.know_header .know_title {
  min-height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.know_header .know_title::before, .know_header .know_title::after {
  content: '';
}

.know_mouseIcon::before {
  width: 46px;
  height: 82px;
  background: #BC9691;
  border-radius: 100px;
}

.know_mouseIcon::after {
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation: trackBallSlide 5s infinite linear;
          animation: trackBallSlide 5s infinite linear;
}

.know_mousep {
  margin: 0;
  padding: 0;
  padding: 2rem 0;
}

hr {
  border: .5px solid #ccc;
  width: 100%;
  margin: 2rem 0;
}

.know_carousel_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.know_carousel_content * {
  margin: 0;
  padding: 0;
}

.know_carousel_content .know_carousel_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 8rem;
}

.know_carousel_content .carousel_title_btn {
  padding: .2rem 0;
  width: 6rem;
  text-align: center;
  background: #BC9691;
}

.owl-nav [class*='owl-']:hover, .owl-nav [class*='owl-']:focus, .owl-nav .owl_nav_btn {
  background: transparent !important;
  color: #112 !important;
  -webkit-transition: .2s;
  transition: .2s;
  outline: none;
}

.owl-nav .owl_nav_btn {
  color: #626262 !important;
  font-size: 2rem !important;
}

.know_post {
  position: relative;
  padding: 0 2rem 2rem;
}

.know_post .know_post_img {
  margin-bottom: 2rem;
}

.know_post .news_info {
  padding: .5rem 1rem;
  background: #fff;
  text-align: center;
}

.know_post .know_post_content {
  margin: 1rem 0;
}

.know_post_img {
  width: 100%;
  overflow: hidden;
}

.know_post_img figure {
  margin: 0;
}

.know_post_img img {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.know_post_img img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.know_aside_title {
  margin-bottom: 1.5rem;
}

.know_news_aside .news_sub {
  padding: 8rem 0;
}

.know_news_aside .know_aside_title {
  text-align: center;
}

.know_news_aside .know_aside_title::before, .know_news_aside .know_aside_title::after {
  content: ' - ';
}

.know_news_aside .know_post_img {
  margin-bottom: 0;
}

.sub_form_input {
  border-radius: 0;
  padding: .5rem 1rem;
  width: 70%;
  margin: 0 .5rem;
  border: none;
  -webkit-box-shadow: 0 0 1px 1px #999 inset;
          box-shadow: 0 0 1px 1px #999 inset;
}

.know_tags .know_tags_group {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.know_tags .know_tag {
  border-radius: 0;
  padding: .5rem 1rem;
  background: #BC9691;
  border-radius: 5rem;
  margin: .5rem;
}

.cart_frame {
  position: relative;
}

.cart_frame > section {
  overflow: hidden;
  min-height: 100vh;
}

.cart_header {
  margin: 0;
  padding: 0;
  position: inherit;
  background: transparent;
  height: 10rem;
}

.cart_list_table {
  margin: 0;
  padding: 0;
}

.cart_list_table .cart_table_pic {
  margin: 0;
  padding: 0;
  max-width: 100px;
}

.cart_list_table .cart_table_pic .cart_table_img {
  max-height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.cart_list_table .cart_total_price::before {
  content: '$';
}

.cart_list_table .cart_row_data .cart_item_hold {
  width: 20%;
}

.cart_list_table .cart_row_data th, .cart_list_table .cart_row_data td {
  vertical-align: middle;
}

.cart_list_table .cart_item_price::before {
  content: '$';
}

.cart_table_bottom {
  background: #F1F1EE;
  position: -webkit-sticky;
  position: sticky;
  bottom: 52px;
}

.devilery_frame hr {
  margin-top: 1rem;
}

.devilery_frame form > section {
  margin-top: 2rem;
}

.devilery_frame .form-control {
  border: 0;
  border-bottom: 1px solid grey;
  border-radius: 0;
  margin-bottom: 1.5rem;
  background: transparent;
}

.devilery_frame .form-control:focus {
  border-radius: .1rem .1rem 0 0;
  -webkit-box-shadow: 0 0 0 0.2rem #e3d3d0;
          box-shadow: 0 0 0 0.2rem #e3d3d0;
}

.devilery_frame .form-check-label {
  font-size: 1.2rem;
}

.delivery_btn {
  border: 1px solid #BC9691;
  color: #BC9691 !important;
  width: 25%;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.2rem;
}

.delivery_btn:hover {
  border: 1px solid #cfb4b1;
  color: white !important;
  background: #cfb4b1;
}

.delivery_btn:active, .delivery_btn.btn_active {
  border: 1px solid #BC9691;
  color: white !important;
  background: #BC9691;
}

.delivery_order_gen::before, .delivery_order_gen::after,
.delivery_receiver_gen::before,
.delivery_receiver_gen::after {
  content: '';
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.delivery_receiver {
  overflow: hidden;
}

.delivery_receiver .delivery_receiver_section {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: .4s;
  transition: .4s;
}

.checkout_info > section {
  margin: 2rem 0;
}

.checkout_info .checkout_info_help,
.checkout_info .checkout_price {
  border: 1px solid #A06BCC;
  padding: .75rem;
  border-radius: 4px;
}

.checkout_info .checkout_info_help h5, .checkout_info .checkout_info_help h6,
.checkout_info .checkout_price h5,
.checkout_info .checkout_price h6 {
  color: #A06BCC;
}

.checkout_info .checkout_info_help h5,
.checkout_info .checkout_price h5 {
  font-weight: 700;
}

.checkout_info .checkout_cart {
  background: #e3dbd0;
  padding: 1rem;
  border-radius: 4px;
}

.checkout_info .checkout_cart > div {
  padding: .5rem 1rem;
}

.checkout_info .checkout_cart > div .checkout_item_count::before {
  content: 'X';
}

.checkout_info .checkout_cart > div .checkout_item_price::before {
  content: '$';
}

.checkout_info .checkout_price {
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

.checkout_info .checkout_price ul, .checkout_info .checkout_price ul * {
  margin: 0;
  padding: 0;
}

.checkout_info .checkout_price li {
  margin-top: 1rem;
  border-bottom: 1px solid #A06BCC;
}

.checkout_info .checkout_price li p::before {
  content: '$';
}

.checkout_info #receipt_number1 {
  color: #F1F1EE;
}

.checkout_frame hr {
  margin-top: 1rem;
}

.checkout_card_selection .card_type {
  height: 8rem;
}

.checkout_card_selection .card_type .c_card {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.checkout_card_selection .card_type .c_card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.checkout_card_selection .card_type .c_card.btn_selected {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.checkout_card_selection .card_type .c_card.btn_notSelected {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-filter: grayscale(0.75);
          filter: grayscale(0.75);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.finelCheck_frame .final_cart_card {
  max-height: 24rem;
}

.finelCheck_frame .final_cart_card figure {
  height: 10rem;
}

.finelCheck_frame .final_cart_card .cart_card_img {
  padding: 1rem;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=all.css.map */