.checkout_frame
  .form-group > div
    // padding: 0 2rem
  hr
    margin-top: 1rem
  
.checkout_card_selection
  .card_type
    height: 8rem
    a
      user-select: none
      cursor: pointer
      transition: .4s
    a:hover
      transform: scale(1.1)