.footer
  +linkColor
  background-color: #fff
  z-index: $zindex-fixed

.footer_sec
  font-size: $font_footerContent
  height: 100%
  flex-grow: 1
  padding: 1rem 0
  dt
    flex-basis: 100%
  dd
    margin-left: 1rem
    flex-basis: 100%
    a
      color: lighten(#000, 30%)

.footer_logo
  h2
    font-size: $font_bigContent
  img
    width: 40%
  address
    font-size: $font_footerAddress

.warning_space
  @extend %bar52px

@media screen and ( max-width:  415px)
  .footer_sec
    padding: 0
    dl
      margin-top: 1rem
    dt, dd
      text-align: center
    dd
      margin-left: 0
      flex-basis: 50%