.itemList_frame
  
  
.itemList_list
  justify-content: space-around
  .item_card
    width: 12rem
    height: 20rem
    margin: 1rem
    overflow: hidden
    .card-img-top
      height: 12rem
      overflow: hidden
      box-shadow: 0 0 8px -2px #000 inset
      .item_card_img
        transform: scale(.8)
        &:hover
          +anime420(hoverScaleAdd)
    .card-body
      color: #000
      transform: translateY(5rem)
      &:hover
          +anime420(hoverMoveUp)