.main_frame
  position: relative
  background:  $mainBgColor

.itemList_header
  +noPaddingMargin
  background:  $mainBgFadeBottom
  .list_info
    +noPaddingMargin
  margin-top: 48px
  height: 10rem

.page_itemList
  +noPaddingMargin
  margin-top: 48px

.itemList_navbar
  position: sticky
  top: 10rem
  height: 100%
  padding-top: 2rem
  z-index: $zindex-modal-backdrop

.itemList_list
  justify-content: space-around
  .item_card
    width: 12rem
    height: 20rem
    margin: 1rem
    overflow: hidden
    .card-img-top
      height: 12rem
      overflow: hidden
      box-shadow: 0 0 8px -2px #000 inset
      .item_card_img
        transform: scale(.8)
        &:hover
          +anime420(hoverScaleAdd)
    .card-body
      color: #000
      transform: translateY(5rem)
      &:hover
          +anime420(hoverMoveUp)