.itemList_header
  height: 10rem
  .list_info
    position: fixed
  
.itemList_frame
  position: relative
  overflow: hidden
  .itemList_list
    position: relative
    right: 50%
    left: 50%
    transform: translateX(-50%)

.itemList_tree
  left: 0
.itemList_navbar
  right: 0
  position: fixed
    
.itemList_list
  justify-content: space-around
  .item_card
    width: 12rem
    height: 20rem
    margin: 1rem
    overflow: hidden
    .card-img-top
      height: 12rem
      overflow: hidden
      box-shadow: 0 0 8px -2px #000 inset
      .item_card_img
        transform: scale(.8)
        &:hover
          +anime420(hoverScaleAdd)
    .card-body
      color: #000
      transform: translateY(5rem)
      &:hover
          +anime420(hoverMoveUp)