// index

// main global
main
  min-height: 100vh
  padding: 116px 0 0

.main_bg
  height: 250vh
  position: fixed
  // background: url(../../img/bgs/section1_bg.jpg) center fixed no-repeat
  background: #000

.main_frame
  z-index: $zindex-modal

.page_main
  +noPaddingMargin
  font-family: 'Noto Serif TC', serif
  color: #fff
  .row > section
    overflow: hidden
    background: $mainBgColor
    min-height: 100vh
  .main_logoSec, .main_article_center
    background: transparent !important
    font-family: 'Noto Serif TC', serif
    writing-mode: vertical-rl
    h1
      font-family: 'Noto Serif TC', serif !important
      z-index: $zindex-modal


.main_subtitle
  font-size: $font_subtitle
  font-weight: 500

.main_sakura
  +noPaddingMargin
  min-height: 200vh !important
  position: relative
  margin-top: -116px
  // background: transparent !important
  background: url(../../img/bgs/section1_bg.jpg) center fixed no-repeat !important
  #sakura
    position: absolute
    top: 0
    left: 0
    right: 0
  .main_article_center
    top: 100vh
    min-height: 100vh

// 小標題
.index_title
  position: relative
  // font-family: 'Noto Serif TC', serif
  display: flex
  justify-content: center
  height: 200px
  img
    filter: opacity(.1)
  h2
    font-family: 'Noto Serif TC', serif
    font-size: 3rem
    height: 100%
    position: absolute
    top: 35%
    filter: opacity(.7)

// logo section
.main_logoSec
  &, .main_article_center
    position: absolute
    top: 0
    left: 0
    right: 0
    min-height: 100vh
  // text-shadow: white 0px 0px 2px
  padding: 116px 0 200px
  animation: mainTitle 2s infinite alternate both ease-out
  h1
    +noPaddingMargin
    // width: 75px
    font-size: $font_title
  figure
    +noPaddingMargin

.main_logo
  max-width: 150px
  max-height: 150px

// main article section
.main_article_about
  font-size: $font_mintitle
  letter-spacing: 0.15em
  line-height: 5.5

// news section
.main_news
  min-height: 65vh !important
  height: 90vh
  color: $titleColor
  justify-content: space-evenly

.main_news_items
  +contentSpaceEvenly
  *
    font-size: $font_content
    font-family: 'Noto Serif TC', serif
  .news_card
    max-width: 20rem

@media screen and ( max-width:  768px)
  .main_news_items
    justify-content: center


// knowledge section
.main_knowledge
  color: #000
  .main_seigaiwa
    left: 10%
    bottom: 10%

.main_know_title
  right: 0%
  writing-mode: vertical-lr
  z-index: $zindex-tooltip

.main_know_imgs
  right: 0
  top: 4rem
  height: 75vh
  .main_know_img
    width: 100%
    height: 100%
    object-fit: cover

.main_know_card
  background: #fff
  padding: 1.5rem
  left: 0
  bottom: 25%
  & > *
    margin: .5rem
  .main_know_cardContent
    margin: 1.5rem
    font-size: $font_tinyContent
  .main_know_cardMore > *
    margin: .5rem

// recommand
.main_recommand
  +contentSpaceEvenly
  color: #000
  .main_rec_card
    min-width: 10rem
    max-width: 15rem
    color: #fff
    img
      min-width: 15rem
      max-width: 15rem
      height: 15rem
      overflow: hidden
      object-fit: cover
      border-radius: 10px
      filter: brightness(.5)
      clip-path: polygon(50% 0%,100% 50%,50% 100%,0% 50%)
    figure
      +noPaddingMargin
      max-width: 20rem
      max-height: 20rem

//recommand cloud
.cloud_bg_big
  background: url('../../img/bgs/seigaiwa.svg')
  background-repeat: no-repeat
  background-size: contain
  background-position: left

.cloud_bg_sm
  background: url('../../img/bgs/seigaiwa-sm.svg')
  background-repeat: no-repeat
  background-size: contain
  background-position: left

.cloud_1, .cloud_2, .cloud_3, .cloud_4, .cloud_5
  top: 20%
  left: -40%
  width: 100%
  height: 10%
.cloud_2
  top: 30%
  left: -30%
  height: 25%
.cloud_3
  top: 0%
  left: 70%
  height: 20%
.cloud_4
  left: 80%
.cloud_5
  top: 50%
  left: 70%
  height: 20%

.remove_alert
  position: fixed
  top: 0
  left: 0
  background: #00000070
  width: 100vw
  height: 100vh
  &>.row
  .remove_box
    +setMiddle
    height: 20%
    min-height: 10rem
    min-width: 20rem
    background: $mainBgColor
    border-radius: 10px
    padding: 2rem
    box-shadow: 0 2px 4px -2px #fff
    .remove_btn_group
      padding: 1rem
      .remove_btn
        background: $highlightColor
        border-color: $highlightColor
        color: #fff
        padding: .5rem 2rem
        box-shadow: 0 0 0 0 $highlightColor
        transition: .2s
      .remove_btn:hover
        box-shadow: 0 0 8px -4px #000, 0 0 0 #000 inset
        &:active
          box-shadow: 0 0 0 #000, 0 0 8px -4px #000 inset

.main_map
  color: #000
  path
    stroke: white
    fill: transparent
    transition: .8s
    cursor: pointer
    &:hover
    fill: #B99362
    transform: translate(-5px, -5px)

  .title_area
    position: absolute
    right: 20px
    top: 20px
    color: #B99362
    font-size: 30px
  .forcast h2, .forcast h4, .forcast
    margin: 0
  .forcast h2
    margin-top: 20px
  a
    font-size: 16px
    text-decoration: none
    color: #B99362