@import '../helpers/variable'
@import '../helpers/extended'
@import '../helpers/mixin'

.navbar
  background: $darkerBackground
  z-index: $zindex-tooltip

.nav_logo
  height: 52px
  font-size: 2rem
  *
    @extend %noPaddingMargin
  img
    width: 40px
  navbar-brand
    *
      margin: 0 .5rem 0