*{
    /* overflow-x: hidden; */
    /* 在手機上不知道為什麼下在body沒用，所以下在全域 */
}
body{
    overflow-x: hidden !important;
}

.absolute_neal{
    position: absolute;
}
.relative_neal{
    position: relative;
}

.navbar{
  background: transparent !important;
  z-index: 1070;
}
nav>a>h3{
    margin-bottom: 0.25rem;
}

canvas{
    width: 100%;
    height: 220vh;
}


.neal-nav-icon{
    width: 50px;
    height: 50px;
    /* object-fit: contain; */
    filter: brightness(100);
}

.neal-main-z{
    z-index: 1010;
}

.section1-neal header{
    width: 100%;
    height: 100vh;
    position: absolute;
    flex-direction: column;
}
.neal-main-icon{
    max-width: 150px;
    max-height: 150px;
    /* filter: brightness(100); */
}

.section1-neal header h1{
    margin: 0;
    font-family: 'Noto Serif TC', serif;
    text-shadow: white 0px 0px 20px;
    font-size: 3.5rem;
    font-weight: 300;
    margin: 0;
    writing-mode: vertical-lr;
    text-align: center;
    /* transform: translate(-33.6px,-50px); */
    color: white;
}



.section1-neal{
    background: url(./img/section1_bg.jpg);
    height: 220vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.article_center_neal{
    width: 100%;
    top: 125vh;
}
.about-neal{
    font-family: 'Noto Serif TC', serif;
    height: 90vh;
    color: white;
    writing-mode: vertical-rl;
    /* text-orientation: upright; */
    font-size: 1.2rem;
    letter-spacing: 0.15em;
    line-height: 5.5;
}



.section3_neal{
    background: url(./img/bg001.gif);
    min-height: 65vh;
}

.title_neal{
    position: relative;
    font-family: 'Noto Serif TC', serif;
    display: flex;
    justify-content: center;
    height: 200px;
    /* background: url(./img/sake-icon.svg) no-repeat center; */
}

.title_neal img{
    filter: opacity(.1);
}

.title_neal h2{
    font-size: 3rem;
    height: 100%;
    position: absolute;
    top: 35%;
    filter: opacity(.8);
}


.news_pic_neal div{
    flex-direction: column;
}
.news_pic_neal div article{
    font-family: 'Noto Serif TC', serif;
    font-size: 1rem;
}

.pic_fit_neal{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section4_neal{
    background: url(./img/bg001.gif);
    height: 100vh;
}

.sake_knowledge_neal{
    /* margin-top: 10rem ; */
}
.sake_knowledge_neal figure{
    padding: 0;
    height: 75vh;
}


.y_title_neal{
    font-family: 'Noto Serif TC', serif;
    top: -6rem;
    /* 這裡改用rem控制位置 */
    right: 0%;
    writing-mode: vertical-lr;
}
.y_title_neal h2{
    font-size: 3rem;
}

.klg_info_neal{
    background: white;
    max-height: 60vh;
    top: 35%;
    overflow: hidden;
}
.klg_info_neal article{
    font-family: 'Noto Serif TC', serif;
    font-size: 1rem;
    width: 70%;
    /* overflow: hidden; */
}

.know_line_neal{
    width: 25%;
    height: 10px;
    background: url(./img/more_arr.svg) no-repeat;
}

.sec4_bg_neal{
    width: 40vh;
    height: 60vh;
    top: 25%;
    left: 10%;
}

.sec4_bg_neal img{
    width: 100%;
    height: 100%;
}



.section5_neal{
    background: url(./img/bg001.gif);
    min-height: 100vh;
}

.howtodrink_neal{
    color: white;
    padding: 0;
    margin: 0;
}
.howtodrink_neal img{
    border-radius: 10px;
    filter: brightness(.7);
}
.howtodrink_neal figure{
    margin: 2rem 0;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
}

.howtodrink_neal h3{
    font-family: 'Noto Serif TC', serif;
}

.row{
    margin: 0;
}

.howtodrink_row{
    flex-wrap: wrap;
}

.cloud_bg_big{
    background: url(./img/seigaiwa.svg) no-repeat;
    background-size: contain;
    background-position: left;
}
.cloud_bg_sm{
    background: url(./img/seigaiwa-sm.svg) no-repeat;
    background-size: contain;
    background-position: left;
}

.cloud_L1{
    top: 10%;
    left: -10%;
    width: 100%;
    height: 5%;
}
.cloud_L2{
    top: 15%;
    left: -10%;
    width: 100%;
    height: 15%;
}
.cloud_L3{
    top: 50%;
    left: -10%;
    width: 100%;
    height: 15%;
}
.cloud_r1{
    top: 0%;
    left: 70%;
    width: 100%;
    height: 15%;
}
.cloud_r2{
    top: 15%;
    left: 80%;
    width: 100%;
    height: 5%;
}
.cloud_r3{
    top: 50%;
    left: 80%;
    width: 100%;
    height: 15%;
}

/* 地圖區塊 */

.section6_map{
    background: url(./img/bg001.gif);
    min-height: 100vh;
}

svg{
    max-width: 60vw;
    max-height: 80vh;
    /* margin-top: 10vh; */
    /* margin-right: 30%; */
}

path{
    stroke: white;
    fill:transparent;
    transition: 0.8s;
    cursor: pointer;
 }
 
 path:hover {
     fill: #B99362;
     -webkit-transform: translate(-5px, -5px);
             transform: translate(-5px, -5px);
   }
 
 .title_area{
     /* position: absolute; */
     /* right: 20px; */
     /* top:20px; */
     color: #B99362;
     font-size: 30px;
     /* border-bottom:1px solid white ; */
 }
 .section6_map h1, .forcast h4, h5{
    font-family: 'Noto Sans TC', sans-serif;
}

.section6_map hr{
    width: 100px;
    margin-left: 0;
    border:none;
    border-bottom: 2px solid white;
}

.forcast h2, .forcast h4, .forcast{
    margin: 0;
  }

.forcast h2 {
    margin-top: 20px;
  }

a{
    font-size: 16px;
    text-decoration: none;
    color: #B99362;
}
